ACTION!="add|change|move", GOTO="mm_whitelist_modem_end"
ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="521d", ENV{ID_MM_DEVICE_PROCESS}="1"
LABEL="mm_whitelist_modem_end"
